.admin-layout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../../public/Admin/backgroun-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 962px;
    margin: auto;
}

.logo {
    padding-top: 35px;
    padding-right: 42px;
    padding-bottom: 35px;
    padding-left: 104px;
}

.content {
    align-self: center;
    width: 100%;
    padding-bottom: 50px;
}

@media (min-width: 391px) and (max-width: 767px) { 
    .logo {
        padding: 14px
    }
}

@media (max-width: 390px) {
    .logo {
        padding: 14px
    }
}