.trashBin {
    position: absolute;
    left: -35px;
    top: 30px; 
}

.icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    margin-right: 0px;
}

.trashBin:hover {
    background: #c7c6c6;
}