.head {
    font-weight: var(--font-black);
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--white);
}

.head span {
    font-weight: 100;
    font-size: 34px;
}

.text {
    font-weight: var(--font-normal);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 5px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--white);  
}