.form {
    display: flex;
    flex-direction: column;
    gap: 29px;
    max-width: 826px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-family: Roboto;
    font-weight: var(--font-normal);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
}

.halls {
    display: flex;
    align-items: center;
}

.hall {
    font-weight: var(--font-medium);   
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.45);
    padding: 13px 20px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    cursor: pointer;
}

.hall:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.hall_active {
    font-weight: var(--font-black);   
    font-size: 15px;
    background: var(--white);
    padding: 15px 23px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
}

.inputs {
    display: flex;
    align-items: center;
    gap: 13px;
}

.content {
    align-self: center;
}

.buttons {
    display: flex;
    gap: 15px;
    align-self: center;
}

.error {
    align-self: center;
    color: rgb(223, 88, 88);
}

@media (max-width: 390px) {
    .buttons {
        padding-right: 10px;
    }

}