.input {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: var(--text);
  border: 1px solid rgba(183, 183, 183, 1);

width: 272px;
height: 36px;
padding-top: 8px;
padding-right: 8.8px;
padding-bottom: 9px;
padding-left: 8.8px;

}

.input:focus {
  outline: none;
  border: 1px solid rgb(139, 138, 138);
}

.invalid {
  border: 1px solid rgb(221, 21, 21);
}