.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

.film {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background: var(--background-client);
}

.content {
    display: flex;
    gap: 15px;
}

.poster {

    width: 125px;
    height: 175px;
}

.info::after {
    content: '';
    position: absolute;
    background-image: url('../../assets/Client/after-poster-icon-desktop.png');
    top: 0;
    left: -15px;
    width: 6px;
    height: 14px;

}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-weight: var(--font-bold);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
}

.second-info {
    display: flex;
    gap: 3px;
    color: var(--text-secondary);
}

.halls {
    display: flex;
    flex-direction: column;
}

.hall {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hall-name {
    font-weight: var(--font-bold);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: capitalize;
}

.seances {
    display: flex;
    gap: 4px;
}

.seance-time {
    padding: 8px;
    background: var(--white);
    border-radius: 2px;
    cursor: pointer;

    font-weight: var(--font-normal);
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0;
    vertical-align: middle;
    text-decoration: none;
    color: var(--black);

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.seance-time:hover {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.seance-time-disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background: #E0E0E0;
    pointer-events: none;
}

@media (min-width: 391px) and (max-width: 768px) {}