.seance {
    position: absolute;
    display: flex;
    align-items: center;
    border: 1px solid var(--text-secondary);
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 12px;
    width: 70px;
    height: 45px;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%); 
    cursor: grab;
}

.seance:active {
    cursor: grabbing;
}

.seance.dragging {
    opacity: 0.5;
}

.name {
    font-weight: 500;
    max-width: 70px; 
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;    
}

.time {
    position: absolute;
    left: 50%;
    bottom: -25px;
    color: var(--text-secondary);
    transform: translateX(-50%);
    font-size: 10px;
}

.time::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 1px;
    height: 6px;
    background-color: var(--text-secondary);
    transform: translateX(-50%);
}
