.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.add {
    margin-top: 17px;
}

.films {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 12px;
}

.film {
    display: flex;
    width: 260px;
    height: 50px;
    position: relative;
    background: #fff;
    border: 1px solid #0000004D;
    cursor: grab;
}

.film-poster {
    width: 38px;
    height: 50px;
}

.dragging {
    opacity: 0.6;
}

.content {
    padding: 7px 10px;   
}

.name {   
    font-weight: var(--font-medium);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
}

.duration {
    font-weight: var(--font-normal);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000B2;
}

.icon {
    padding: 4px;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.icon:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.24);
}

.film-poster-overlay {
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: flex;
    gap: 15px;
    margin: auto;
}

.seances-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 51px 0;
    gap: 13px;
    width: 100%;
    max-width: 720px;
    padding-right: 20px;
}

.halls {
    display: flex;
    flex-direction: column;
}

.timeline {
    height: 60px;
    border: 1px solid var(--text-secondary);
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.timeline.drag-over {
    border-color: #2196f3;
    background-color: #f0f8ff;
    border-style: dashed;
}

.hall-name {
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
}

.error {
    color: #c2404099;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.popupContent {
    position: relative;
    width: 100%;
    max-height: 90vh;
    margin: auto;
    animation: slideDown 0.3s ease-in-out;
}

.closeOverlay:hover {
    background: white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { 
        transform: translateY(-50px);
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        opacity: 1;
    }
}