.timeline {
    position: relative;
    height: 60px;
    border: 1px solid var(--text-secondary);
    box-sizing: border-box;
    transition: all 0.3s ease;
    margin: 0 auto;
    max-width: 100%;
    
}

.timeline.drag-over {
    border-color: #9ea5aa;
    background-color: #d7d7d7;
    border-style: dashed;
}

.halls {
    width: 100%;
}

.hall-name {
    font-weight: var(--font-medium);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
}