:root {
  --font: 'Roboto', sans-serif;
  
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
    
  --button-color: #16A6AF;
  --white: #ffffff;
  --black: #000000;
  --text-secondary: #848484;
  --selected-chair: #25C4CE;
  --vip-chair: #F9953A;
  --admin-headers: #63536C;
  --background-client: #F1EBE6F2;
  --background-admin: #EAE9EBF2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
