.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 990px;
    background: var(--background-client);
    padding: 20px 15px 30px;
    position: relative;
}

.container::before {
    content: '';
    background-image: url('../../assets/Client/circle-top-ticket.png');
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    top: -2px;
    left: 0;
}

.container::after {
    content: '';
    background-image: url('../../assets/Client/circle-bot-ticket.png');
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
}

.header {
    font-weight: var(--font-bold);
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    color: #C76F00;
    position: relative;
    padding: 25px 15px;
    background: var(--background-client);
    margin-bottom: 5px;
}

.header::before {
    content: '';
    background-image: url('../../assets/Client/circle-top-ticket.png');
    background-size: 10px;
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
}

.header::after {
    content: '';
    background-image: url('../../assets/Client/circle-bot-ticket.png');
    background-size: 9px;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property {
    font-weight: var(--font-normal);
    font-size: 16px;
    line-height: 18.4px;
    letter-spacing: 0;
    vertical-align: middle;
}

.property span {
    font-weight: var(--font-bold);
}

.button {
    align-self: center;
}